<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Tables</a></li>
    <li class="active">{{title}}</li>
  </ul>
  <!-- END BREADCRUMB -->

  <!-- PAGE TITLE -->
  <div class="page-title">
    <h2>{{title}}</h2>
  </div>
  <!-- END PAGE TITLE -->

  <!-- PAGE CONTENT WRAPPER -->
  <div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                    </h3>
                    <ul class="panel-controls">
                        <input type="text" class="form-control" placeholder="Busqueda" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table datatable table-hover table-responsive"  [mfData]="Table | filter : search" #mf="mfDataTable"
                    [mfRowsOnPage]="rowsOnPage">
                        <thead>
                            <tr>
                                <th style="width:15%;">
                                  <mfDefaultSorter by="username">Usuario</mfDefaultSorter></th>
                                <th style="width:20%;">
                                  <mfDefaultSorter by="email">Email</mfDefaultSorter></th>
                                <th style="width:15%;">
                                  <mfDefaultSorter by="rol">Rol</mfDefaultSorter></th>
                                <th style="width:20%;">
                                  <mfDefaultSorter by="empleados.nombre">Empleado</mfDefaultSorter></th>
                                <th style="width:30%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of mf.data">
                                <td>{{((data.username!=null)?data.username:'')}}</td>
                                <td>{{((data.email!=null)?data.email:'')}}</td>
                                <td>{{((data.roles.descripcion!=null)?data.roles.descripcion:'')}}</td>
                                <td>{{data.empleados?((data.empleados.nombre!=null)?data.empleados.nombre+' ':'')+((data.empleados.apellido!=null)?data.empleados.apellido:''):''}}</td>
                                <td>

                                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" (click)="cargarSingle(data.id)" style="cursor:pointer;"><i class="fa fa-edit"></i> Editar</button>

                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                              <td colspan="5">
                                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                              </td>
                          </tr>
                          </tfoot>
                    </table>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->



            <!-- Inicio Modal Ingreso -->
              <div id="editModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Edicion de datos</h4>
                        </div>
                        <div>
                            <form id="edit-form"  #EditForm="ngForm" (ngSubmit)="insert(EditForm.value)">
                                <div class="form-group col-xs-6 m-b-15" >
                                    <label for="description">Clientes</label>
                                    <input type="text" class="form-control" placeholder="Busqueda de Clientes" [(ngModel)]="search1" [ngModelOptions]="{standalone: true}">
                                    <div droppable (onDrop)="onItemRemove($event)" class="listaDrag">

                                      <li draggable [dragData]="Data" *ngFor = "let Data of childs |filter:search1" class="alert alert-success" >
                                        {{((Data.nombre!=null)?Data.nombre:'')+' '+((Data.apellido!=null)?Data.apellido:'')}}

                                      </li>
                                    </div>

                                </div>
                                  <div  class="form-group col-xs-6 m-b-15" >
                                    <label for="usuario">Usuarios</label>
                                    <select name="usuario" class="form-control" id="usuario" [(ngModel)]="selectedParent" required ngModel #usuario="ngModel" (change)="cargarSingle(usuario.value)">
                                      <option *ngFor="let Data of parentCombo" value="{{Data.id}}">{{((Data.username!=null)?Data.username:'')}} - {{Data.empleados?((Data.empleados.nombre!=null)?Data.empleados.nombre+' ':'')+((Data.empleados.apellido!=null)?Data.empleados.apellido:''):''}}</option>
                                    </select>
                                      <div droppable (onDrop)="onItemDrop($event)"  class="listaDrag " >
                                        <li draggable [dragData]="item" *ngFor="let item of selectedData" class="alert alert-info">
                                          {{((item.nombre!=null)?item.nombre:'')+' '+((item.apellido!=null)?item.apellido:'')}}
                                        </li>
                                      </div>
                                    </div>

                                <div class="form-group col-xs-12 text-right m-b-15">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer" style="border:none;">
                        </div>
                    </div>
                </div>
              </div>
            <!-- Final Modal Ingreso -->

  <!-- Inicio Notificaciones -->
    <simple-notifications [options]="options"></simple-notifications>
  <!-- Fin Notificaciones -->
  <!-- Inicio Loader Modal -->
    <div class="modal fade" id="Loading">
      <div class="modal-dialog">
        <div class="text-center" style="margin-top:50%;">
          <app-loader></app-loader>
        </div>
      </div>
    </div>
  <!-- Fin Loader Modal -->
