<!-- START BREADCRUMB -->
<ul class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Tables</a></li>
  <li class="active">{{title}}</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE TITLE -->
<div class="page-title">
  <h2>{{title}}</h2>
</div>
<!-- END PAGE TITLE -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

  <div class="row">
      <div class="col-md-12">
          <!-- START DEFAULT DATATABLE -->
          <div class="panel panel-default">
              <div class="panel-heading">
                  <!-- <div class="col-md-8 col-xs-offset-2" style="text-align:center;">
                    <select name="input_pais" id="input_pais" class="form-control" ngModel #input_pais="ngModel" [(ngModel)]="paisMain" [ngModelOptions]="{standalone: true}" (change)="cargarAll();cargarLogradosDiarios();">
                      <option value="All">All</option>
                      <option *ngFor="let data of comboUsuarios" value="{{data.id}}">{{((data.empleados)?data.empleados.nombre:data.username)}}</option>
                    </select>
                  </div> -->
                  <div class="col-md-8 col-xs-offset-2" style="text-align:center;">
                    <select name="input_usuarios" id="input_usuarios" class="form-control" ngModel #input_usuarios="ngModel" [(ngModel)]="usuarios" [ngModelOptions]="{standalone: true}" (change)="cargarAll();cargarLogradosDiarios();">
                      <option value="All">All</option>
                      <option *ngFor="let data of comboUsuarios" value="{{data.id}}">{{((data.empleados)?data.empleados.nombre:data.username)}}</option>
                    </select>
                  </div>
                  <h3 class="col-md-4 col-xs-offset-2" style="text-align:center;">
                    <a class="form-control" style="text-align:center;" *ngIf="usuarios!='All'" value="" href="http://backend.foxylabs.xyz/foragro/public/api/report/formdiario/{{usuarios}}" target="_blank">Imprimir Resporte Diario</a>
                    <a class="form-control" style="text-align:center;" *ngIf="usuarios=='All'" value="" href="http://backend.foxylabs.xyz/foragro/public/api/report/formdiario" target="_blank">Imprimir Resporte Diario</a>
                  </h3>
                  <h3 class="col-md-4" style="text-align:center;">
                    <a class="form-control" style="text-align:center;" *ngIf="usuarios!='All'" value="" href="http://backend.foxylabs.xyz/foragro/public/api/report/formvisita/{{usuarios}}" target="_blank">Imprimir Resporte Visita</a>
                    <a class="form-control" style="text-align:center;" *ngIf="usuarios=='All'" value="" href="http://backend.foxylabs.xyz/foragro/public/api/report/formvisita" target="_blank">Imprimir Resporte Visita</a>
                  </h3>
              </div>
              <div class="row">
                  <h3 class="col-md-2 col-xs-offset-2" style="text-align:center;">
                    <input type="checkbox" id="vendedores" name="vendedores" ngModel #vendedores="ngModel" [(ngModel)]="locate" [ngModelOptions]="{standalone: true}">
                    <label for="vendedores">
                      <img src="http://foxylabs.xyz/Documentos/imgs/agent.png" style="height:50px;width:50px;">
                    </label>
                  </h3>
                  <h3 class="col-md-2" style="text-align:center;">
                    <input type="checkbox" id="clientes" name="clientes" ngModel #clientes="ngModel" [(ngModel)]="locate2" [ngModelOptions]="{standalone: true}">
                    <label for="clientes">
                      <img src="http://foxylabs.xyz/Documentos/imgs/customer.png" style="height:50px;width:50px;">
                    </label>
                  </h3>
                  <h3 class="col-md-2" style="text-align:center;">
                    <input type="checkbox" id="camiones" name="camiones" ngModel #camiones="ngModel" [(ngModel)]="locate3" [ngModelOptions]="{standalone: true}">
                    <label for="camiones">
                      <img src="http://foxylabs.xyz/Documentos/imgs/delivery-truck.png" style="height:50px;width:50px;">
                    </label>
                  </h3>
                  <h3 class="col-md-2" style="text-align:center;">
                    <input type="checkbox" id="formularios" name="formularios" ngModel #formularios="ngModel" [(ngModel)]="locate4" [ngModelOptions]="{standalone: true}">
                    <label for="formularios">
                      <img src="http://foxylabs.xyz/Documentos/imgs/form.png" style="height:50px;width:50px;">
                    </label>
                  </h3>

              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-10 col-xs-offset-1">
                      <ng2-map
                      zoom="12"
                      center="14.66530813990437, -90.51709514672852"
                      (mapClick)="onMapClick($event)"
                      mapTypeId="roadmap">
                      <div *ngIf="locate==1">
                        <marker *ngFor="let data of positions" [icon]="posis" [position]="data" (click)="clicked11(data)"></marker>
                      </div>
                      <div *ngIf="locate2==1">
                        <marker *ngFor="let data of positions2" [icon]="posis2" [position]="data" (click)="clicked11(data)"></marker>
                      </div>
                      <div *ngIf="locate3==1">
                        <marker *ngFor="let data of positions3" [icon]="posis3" [position]="data" (click)="clicked11(data)"></marker>
                      </div>
                      <div *ngIf="locate4==1">
                        <marker *ngFor="let data of positions4" [icon]="posis4" [position]="data" (click)="clicked11(data)"></marker>
                      </div>
                    </ng2-map>

                    <div style="display: block">
                      <canvas baseChart *ngIf="pieChartData"
                                [data]="pieChartData"
                                [labels]="pieChartLabels"
                                [chartType]="pieChartType"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)"></canvas>
                    </div>
                  </div>

                </div>
                <!-- END DASHBOARD CHART -->
              </div>
          </div>
          <!-- END DEFAULT DATATABLE -->


<!-- Inicio Notificaciones -->
  <simple-notifications [options]="options"></simple-notifications>
<!-- Fin Notificaciones -->
<!-- Inicio Loader Modal -->
  <div class="modal fade" id="Loading">
    <div class="modal-dialog">
      <div class="text-center" style="margin-top:50%;">
        <app-loader></app-loader>
      </div>
    </div>
  </div>
<!-- Fin Loader Modal -->
